
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.default-body {
    font-family: Arial, sans-serif;
    background-color: #FFC300;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

/* Header */
.welcomepageheader h1 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.welcomepageheader p {
    font-size: 1rem;
    margin-bottom: 0.8rem;
}

/* Image */
.image-container {
    position: relative;
    margin: 60px 0;
}
.image-container .motorbg {
    position: absolute;
    width: 90%;
    height: auto;
    bottom: 10px;
}

.image-container .bike {
    position: relative;;
    width: 90%;
    height: auto;
    border-radius:10px;
}

.image-container .location {
    position: absolute;
    width: 20%; /* Adjust to fill the container */
    height: 20%;
    left: 5px;
    border-radius: 50px;
}


/* Button */
.SignUp-button, .Login-button,.Login-button-desktop, .SignUp-button-desktop {
    background-color: #FFB800;
    color: #000;
    border: none;
    padding: 10px;
    width: 40%;
    margin: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.SignUp-button:hover, .Login-button:hover {
    background-color: #FFC300;
}

.start-button-mobile, .start-button-desktop {
    background-color: #FFB800;
    color: #000;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.start-button:hover {
    background-color: #FFC300;
}

.trackicon {
    position: absolute;
    width: 10%; /* Default width */
    top: 8rem;
}



/* Mobile responsiveness */
@media (max-width:320px) {

    .container {
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 4px;
    
    }

    .welcomepageheader h1 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        margin-top: 3rem;
    }

    .welcomepageheader p {
        font-size: 1rem;
        margin-bottom: 0.1rem;
    }

    .image-container .motorbg {
        padding: 10px;
        bottom: 30px;
    }
    
    .image-container .bike {
        width: 90%;
        height: auto;
    }

    .image-container .location {
        margin-left: 1rem;
    }

    .start-button-mobile, .start-button-desktop {
        padding: 7px;
        position: relative;
        bottom: 60px;
        }

    .SignUp-button, .Login-button{
      bottom: 60px;
      position: relative;
    }
    

    
}
@media  (max-width: 500px) {
    .default-body {
        background-color: #1A1B28;
        
    }
    .container {
        background-color: #1A1B28;
    }
    .image-container .motorbg,
    .image-container .bike {
        width: 75%;
    }

    .image-container .location {
        width: 18%;
        left: 10px;
    }

    .start-button {
        padding: 12px;
        font-size: 1.1rem;
    }

    .trackicon{
        display: none;
    }

    .image-container {
        margin: 45px 0;
    }

    .container {
        padding: 15px;
    }

    .welcomepageheader h1 {
        font-size: 1.5rem;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .start-button-desktop {
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        display: none;
    }
}

/* Desktop responsiveness */
@media (min-width: 501px) and (max-width: 900px) {
    .container {
        width: 100%;
        max-width: 50rem;
        background-color: #1A1B28;
        margin: 10rem;
    }

   .desktop-container{
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        padding: 1rem;
   }

   .welcomepageheader{
       margin: 80px 20px 0 20px;
       width: 80%;
   }

    .welcomepageheader h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 60%;
        margin: 0px 80px 0px 0px;
        bottom: 10px;
    }
    
    .trackicon{
        display: none;
    }

    .image-container .bike {
        width: 60%;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 2rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
        border-radius: 0px;
    }

    .Login-button, .SignUp-button{
        display: none;
    }
}
    @media (min-width: 901px) {
    .container {
        width: 100%;
        max-width: 50rem;
        background-color: #1A1B28;
        margin: 10rem;
    }

   .desktop-container{
        display: flex;
        flex-direction:row-reverse;
        width: 100%;
        padding: 1rem;
   }

   .welcomepageheader{
       margin: 80px 20px 0 20px;
       width: 80%;
   }

    .welcomepageheader h1 {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
    
    }

    .trackmoto-text{
        color:#FFC300;
        display: inline;
    }

    .welcomepageheader p {
        font-size: 0.9rem;
    }

    .image-container {
        margin: 50px 0 10px 0;
        width: 70%;
    }

    .image-container .motorbg {
        width: 60%;
        margin: 0px 80px 0px 0px;
        bottom: 10px;
    }
    
    .trackicon{
        position: absolute;
        width: 11%;
        top:10rem;
    }

    .image-container .bike {
        width: 60%;
    }

    .image-container .location {
        width: 25%;
        height: 25%;
        left: 2rem;
    }

    .start-button-mobile {
        display: none;
    }

    .start-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
        border-radius: 0px;
    }

    .Login-button, .SignUp-button{
        display: none;
    }

    .Login-button-desktop, .SignUp-button-desktop{
        width: 70%;
        padding: 10px;
        margin: 20px;
        font-size: 1rem;
        border-radius: 0px;
    }

}


